################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Projects/CompareCrsdAndVets/bin
/Projects/CompareCrsdAndVets/obj
/Projects/CheckTestProcedures/bin
/Projects/CheckTestProcedures/obj
/Projects/CheckTestProcedures/.vs
/bin
